/*
 * ChernivtsiJS
 */

* {
  padding:0;
  margin:0;
}

body, html {
  height: 100%;
  color: #fff;
}

body {
  background-image: url('/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

a,
a:active,
a:visited {
  color: #fff;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.content {
  max-width: 700px;
  width: 70%;
}

.logo {
  display: inline-block;
  float: left;
  width: 10em;
  height: 10em;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);;
}

.text {
  display: inline-block;
  float: left;
  margin-left: 2em;
  margin-top: 1em;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.text h1 {
  font-size: 4em;
  line-height: 1;
  margin: 0;
}

.text p {
  font-size: 2em;
}

.subject {
  color: rgba(255, 255, 255, 0.8);
}
