//- section#schedule
//-   h1.title schedule
//-   table.pad_null(align='center', width='100%', border='0', cellpadding='0', cellspacing='0', style='border-collapse:collapse; font-family: Arial, sans; width: 100%; background: #f9f9f6; margin-left: auto; margin-right: auto; ')
//-     tr
//-       td Розклад
//-       td Час, хв
//-       td Спікер
//-       td Тема
//-       td Тип
//-     tr
//-       td 11:30-11:50
//-       td 20
//-       td(colspan='3') Реєстрація
//-     tr
//-       td 11:50-12:00
//-       td 10
//-       td(colspan='3') Відкриття
//-     tr
//-       td 12:00-13:00
//-       td 40-10
//-       td Іван Стеценко
//-       td React: Yet another awsm Van Helsing (RUS)
//-       td доповідь
//-     tr
//-       td 13:00-13:20
//-       td 15-5
//-       td Андрій Костецький
//-       td JavaScript Reflection, що далі? (UKR)
//-       td лайтінг
//-     tr
//-       td 13:20-14:20
//-       td 40-10
//-       td Денис Довгань
//-       td Shells written in JavaScript (UKR)
//-       td доповідь
//-     tr
//-       td 14:20-14:30
//-       td 10
//-       td Іван Стеценко
//-       td Давайте сделаем MIT в Украине (RUS)
//-       td лайтінг
//-     tr
//-       td 14:30-15:00
//-       td 30
//-       td(colspan='3') Перерва (Обід)
//-     tr
//-       td 15:00-15:10
//-       td 10
//-       td(colspan='3') HR-сесія ELOGIC
//-     tr
//-       td 15:10-15:30
//-       td 15-5
//-       td Сергій Борейко
//-       td Nothing new about Electron (UKR)
//-       td лайтінг
//-     tr
//-       td 15:30-16:30
//-       td 40-10
//-       td Олексій Швайка
//-       td Authoring Web Components workshop (RUS)
//-       td доповідь
//-     tr
//-       td 16:30-17:30
//-       td 40
//-       td(colspan='3') QA-сесія
//-     tr
//-       td 17:30-17:40
//-       td 10
//-       td(colspan='3') Розіграш від компанії AlterEGO
//-     tr
//-       td 17:40-18:00
//-       td 20
//-       td(colspan='3') Закриття
//-     tr
//-       td 18:30-∞
//-       td ∞
//-       td(colspan='3') Афтепаті
