//- 
//- Scripts of the page
//- Included at the end of the body
//- 

script(src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js")
script(src="//platform.twitter.com/widgets.js")
script.
  // Passing data from data.yml
  window.coords = [
    #{place.coords.latitude},
    #{place.coords.longitude},
  ]
script(src="/scripts/index.js")
