div.stand-with-ukraine
    div.stand-with-ukraine--top
        | Russia has invaded Ukraine and already killed over
        b &nbsp;3000 civilians&nbsp;
        |, including more than
        b &nbsp;117 children&nbsp;
        |. The death toll continues climbing. It's a war and we need your help. Let's stand together against the Russian regime.
    div.stand-with-ukraine--bottom
        a(href="https://stand-with-ukraine.pp.ua/" class="stand-with-ukraine--button")="Support Ukraine"
        span #StandWithUkraine

