*
  margin: 0
  padding: 0

body
  background-color: white
  font-family: 'Lato', sans-serif

a
  color: rgba($js-black, .6)
  &:hover
    color: rgba($js-black, .8)
p
  color: rgba($js-black, .6)
  font-size: 2rem
  margin-bottom: 1rem
  text-align: center

section
  padding: 50px 0
