// Variables
$js-yellow = #F6D94C
$js-black = #2E2E2C
$button-shadow = 0 0 20px rgba(0, 0, 0, .5)
$table-border = 1px solid rgba(0, 0, 0, .2)
$slide-delay = 5s
$slides-amount = 5

@keyframes slide-animation
  0%
    animation-timing-function: ease-in
    opacity: 0
  12.5%
    animation-timing-function: ease-out
    opacity: 1
  25%
    opacity: 1
  37.5%
    opacity: 0
  100%
    opacity: 0

@keyframes move-icon-scroll
  0%
    bottom: 20px
  50%
    bottom: 10px
  100%
    bottom: 20px
