// Variables
yellowJavaScript = #F6D94C
blackJavaScript = #2E2E2C

shadowButton = 0 0 20px rgba(0, 0, 0, 0.5)


// Main

*
  padding 0
  margin 0

body
  font-family 'Lato', sans-serif

/* ====== */
/* HEADER */

header
  position relative
  background-image url('../images/banner-back.jpg')
  background-position center
  background-size cover
  height 100vh
  display flex
  justify-content center

header .socials
  position absolute
  right 30px
  top @right

footer .socials ul,
header .socials ul
  display flex
  justify-content space-between

footer .socials li,
header .socials li
  list-style none
  opacity .6
  margin-left 30px
  transition .2s
  &:first-child
    margin-left 0
  &:hover
    opacity 1
    transition .2s

footer .socials li a img,
header .socials li a img
  width 20px

header .main-wrap
  position relative
  display flex
  justify-content center
  align-items center
  flex-direction column

section#bottom-banner .row:not(.questions),
header .main-wrap .row:not(.questions)
  margin-top 20px
  margin-bottom 20px

header .main-wrap .title
  display flex
  align-items center

header .main-wrap .title .logo
  display inline-block
  float left
  width 10em
  height @width
  border-radius 5px
  box-shadow shadowButton

header .main-wrap .title h1
  color white
  font-size 80px
  font-weight 700

header .main-wrap .title div p.desc
  font-size 35px

header .main-wrap .title > div
  padding-left 40px
  color white
  text-shadow 0 0 20px rgba(0, 0, 0, 0.5)

section#bottom-banner .date
header .main-wrap .date
  color white
  font-size 30px

.action-btn
  display block
  height 65px
  line-height @height
  border-radius 3px
  padding-left 20px
  padding-right @padding-left
  width 200px
  background yellowJavaScript
  color blackJavaScript
  text-align center
  text-decoration none
  text-transform uppercase
  letter-spacing 2px
  font-weight 700
  box-shadow shadowButton

.questions
  margin-top 0

.questions a
  color rgba(255, 255, 255, .6)
  font-size 20px
  border-bottom 1px solid @color
  text-decoration none
  &:hover
    color white
    border-bottom-color white

@keyframes move-icon-scroll
    0%
      bottom 20px
    50%
      bottom 10px
    100%
      bottom 20px

header .main-wrap .scroll
  position absolute
  bottom 20px
  animation move-icon-scroll
  animation-duration 1s
  animation-delay 3s
  animation-iteration-count infinite

header .main-wrap .scroll img
  width 50px

// Speakers and Partners and Map

section
  padding-top 50px
  padding-bottom 50px

  p
    text-align center
    font-size 2rem
    color rgba(blackJavaScript, 0.7)
    margin-bottom 1rem

  a
    color rgba(blackJavaScript, 0.7);

  .action-btn
    box-shadow 0 0 20px rgba(0, 0, 0, 0.2)
    margin-top 2rem

section .title
  font-weight 400
  letter-spacing 2px
  color blackJavaScript
  text-align center
  margin-bottom 50px
  font-size 40px
  text-transform uppercase
  position relative
  &:after
    position absolute
    content ''
    width 70px
    height 4px
    background blackJavaScript
    border-radius 2px
    top 100%
    left 50%
    transform translateX(-50%) translateY(10px)

section#map
  width 100%
  margin 0 auto
  padding-bottom 0

section#map iframe
  pointer-events none

section#map .address
  text-align center
  color blackJavaScript
  padding-bottom 20px

section#partners
  background-color #F9F9F6

section#partners .wrap-partners,
section#speakers .wrap-speakers
  width 80%
  margin 0 auto
  display flex
  flex-wrap wrap
  justify-content center
  align-items center
  padding-top 40px
  padding-bottom @padding-top

section#partners .wrap-partners .partner
  position relative
  width 15%
  margin 25px

section#partners .wrap-partners .partner img
  width 100%

section#speakers .wrap-speakers .speaker
  margin-bottom 40px
  display flex
  justify-content center
  align-items center
  flex-direction column
  width 30%
  color blackJavaScript

section#speakers .wrap-speakers .speaker .photo
  width 150px
  height @width
  border-radius 50%
  overflow hidden
  display flex
  justify-content center
  align-items center
  margin-bottom 5px

section#speakers .wrap-speakers .speaker img
  height 150px
  min-height @height

section#speakers .wrap-speakers .speaker .name-speaker
  font-weight 700

section#speakers .wrap-speakers .speaker .work-place
  font-style italic

section#speakers .wrap-speakers .speaker .title-speach
  font-weight 700
  font-size 1.2em
  text-align center
  &:after
    content '"'
  &:before
    content '"'

section#bottom-banner
  height 400px
  display flex
  justify-content center
  align-items center
  flex-direction column
  background-image url('../images/bottom-banner-back.jpg')
  background-position center
  background-size cover

footer
  display flex
  align-items center
  padding 40px 100px
  position relative
  justify-content space-between
  background-color blackJavaScript

footer .contacts
  color rgba(255, 255, 255, .8)

footer .contacts
  display flex
  justify-content space-around
  align-items center

footer .contacts ul:not(:last-child)
  margin-right 100px

footer .contacts ul li
  list-style none
  padding-top 5px
  padding-bottom 5px

footer .contacts ul li a
  color rgba(255, 255, 255, .8)
  text-decoration none
  &:hover
    color white
  &:active
    color rgba(255, 255, 255, .8)
