//
// MEDIA
// -----
// Media queries

@media (max-height: 560px)
  .header
    height: auto
    .questions
      margin-bottom: 100px

@media (max-width: 1100px)
  section#schedule table
    width: 90%

@media (max-width: 920px)
  section.speakers .container .speaker
    width: 40%
  section.venue .venue-about
    flex-direction: column
    .venue-half
      width: 75%
  footer
    flex-direction: column
    padding-bottom: 80px
    .socials
      bottom: 20px
      position: absolute
  section#schedule table
    width: 100%

@media (max-width: 700px)
  .header
    align-items: center
    flex-direction: column
    padding-top: 30px
    &-title
      flex-direction: column
      padding-left: 0
    &-title > div
      padding-left: 0
      text-align: center
    .socials
      margin: 0
      position: relative
      right: 0
      top: 0
      width: auto
      z-index: 1
      & ul
        justify-content center
    .scroll
      display: none
  section.partners .container
    flex-direction: column
    .partner
      margin: 0
      margin-top: 20px
      width: 20%
      &:first-child
        margin: 0
  section.venue .venue-half
    &:first-child
      align-items: center
      flex-direction: column
      order: 2
      & img
        padding: 1rem 0
        width: 75%

@media (max-width: 600px)
  section.speakers .container .speaker
    width: 100%
  section.partners .container .partner
    width: 33%
    margin-top: 0
    &:first-child
      width: 33%
      margin-top: 0
  #alterego
    width: 50%
  .partners .partner#asd-team img,    
  section.partners .container .partner img
    max-width: 100%
    height: auto
  .footer .contacts
    flex-direction: column

  .footer .contacts ul
    text-align: center

  .footer .contacts ul:not(:last-child)
    margin-bottom: 30px
    margin-right: 0

  section#schedule tr td:nth-of-type(2)
    display: none

@media (max-width: 500px)
  .header-wrapper .title h1
    font-size: 70px

  section#schedule table tr td
    padding: 5px
    
  .partners .partner#cbit img, 
  .partners .partner#chernivtsi-national-university img, 
  .partners .partner#nodeschool-chernivtsi img
    max-width: 100%
    height: auto

@media (max-width: 440px)
  section#schedule table tr td
    padding: 2px

@media (max-width: 420px)
  .header-title h1
    font-size: 60px !important

  section#schedule tr td:nth-of-type(5)
    display: none

@media (max-width: 355px)
  .header-title h1
    font-size: 50px
