//
// MEDIA
// ---
// Media queries

@media (max-height: 560px)
  .header
    height: auto
    .questions
      margin-bottom: 100px

@media (max-width: 1100px)
  section#schedule table
    width: 90%

@media (max-width: 920px)
  .schedule-light--container
    max-width: 90%
    .schedule-light td,
    .schedule-light td:nth-of-type(2)
      display: block !important
      width: 100%
      box-sizing: border-box
      border: 0
      padding: 3% !important
    .schedule-light td:nth-of-type(2)
      border-bottom: 2px solid rgba(46,46,44,.3)
  section.speakers .container .speaker
    width: 40%
  section.speakers.speakersMin .container .speaker
    width: 100%
  section.venue .venue-about
    flex-direction: column
    .venue-half
      width: 75%
  section.last-year .container .twitter-tweet
    width: 40% !important
  footer
    flex-direction: column
    padding-bottom: 80px
    .socials
      bottom: 20px
      position: absolute
  section#schedule table
    width: 100%
  .header .header-wrapper
    margin: 5% 0 0 0
  span.our-next
    max-width: 90%
    margin: 0 auto
    display: block
    text-align: center

@media (max-width: 700px)
  li:first-child
    margin-left:0
  .header
    align-items: center
    flex-direction: column
    padding-top: 30px
    &-title
      flex-direction: column
      padding-left: 0
    &-title > div
      padding-left: 0
      text-align: center
    .socials
      margin: 0
      position: relative
      right: 0
      top: 0
      width: auto
      z-index: 1
      & ul
        justify-content center
    .scroll
      display: none
  section.partners .container
    flex-direction: column
    .partner
      margin: 0
      margin-top: 20px
      width: 20%
      &:first-child
        margin: 0
  section.venue .venue-half
    &:first-child
      align-items: center
      flex-direction: column
      order: 2
      & img
        padding: 1rem 0
        width: 75%
  .schedule-container
    &:before
      left: 0
  .schedule-item
    position: relative

  .schedule-desc
    position: static

  .schedule-desc
    &:before
      left: -5px

  .schedule-time
    width: 95%
    padding: 0 0 0 5%

  .schedule-desc
    width: 95%
    padding: 0 0 0 5%

  .schedule-container
    max-width: 90%
    margin: 0 auto

@media (max-width: 600px)
  .header-logo
    width: 30%
  .navigation
    width: 100%
    padding: 0
  .navigation ul
    width: 100%
    display: block
    text-align: center
    margin: 0 0 10%
  .navigation ul li a
    font-size: 3.7vw
  .navigation ul li
    display: inline-block
    margin: 1% 5%
  section.speakers .container .speaker
    width: 100%
  section.partners .container .partner
    width: 33%
    margin-top: 0
    &:first-child
      width: 33%
      margin-top: 0
  .partners #alterego.partner
    width: 40%
  .partners .partner#asd-team img,
  section.partners .container .partner img
    max-width: 100%
    height: auto
  section.last-year .container .twitter-tweet
    width: 100% !important
  .footer .contacts
    flex-direction: column

  .footer .contacts ul
    text-align: center

  .footer .contacts ul:not(:last-child)
    margin-bottom: 30px
    margin-right: 0

  section#schedule tr td:nth-of-type(2)
    display: none

  .row-thanks .partners
    font-size: 16px
    font-size: 3.5vw

  .partners .partner#epam
      margin-top: 3%

  .partners .partner&#amcbridge
      width: 40%
  .schedule
      padding: 50px 5%



@media (max-width: 500px)
  .header-wrapper .title h1
    font-size: 70px

  section#schedule table tr td
    padding: 5px

  .partners .partner#cbit img,
  .partners .partner#chernivtsi-national-university img,
  .partners .partner#nodeschool-chernivtsi img
    max-width: 100%
    height: auto

@media (max-width: 440px)
  .speakersMin.speakers .speaker
    flex-direction: column
    text-align: center
    align-items: center
    .speaker-desc
      text-align: center
      .title-speach
        text-align: center

  section#schedule table tr td
    padding: 2px

@media (max-width: 420px)
  .header-title h1
    font-size: 55px !important
    font-size: 12vw !important
    margin-top: 5%
  .header-title div p.desc
    font-size: 30px
    font-size: 9vw
  .date
    font-size: 25px
    font-size: 8vw
    margin: 0 auto 5% !important

  section#schedule tr td:nth-of-type(5)
    display: none

  .footer
    padding: 40px 100px 17%

@media (max-width: 355px)
  .header-title h1
    font-size: 50px
